#  Notes

- I know nothing about Basketball so let's see how this goes
- The feature engineering seriously needs to be worked on
- Seeds do not change during the season
- Predict the probability of the lower TeamID winning
- Only rely on given data (just to make it easier)
- Possibly make a df for team statistics throughout the years (like if a team has been has been active since 1990, you do 1 row for that team per year). If you do this, make a separate df for women.
- Possibly make a df that's just for games where it shows who won.
- Somehow combine these into something a model can use to train on? This I need to think a lot about. If I have 3 different dataframes, with each giving me different kinds of data, how do I make a ML model that can train on those and predict the mashups of March Madness in the correct format?
- Because of the last bullet, try to not do any feature engineering or creating dataframes until you think about how a model can use it.
- After making dataframes, check dtypes

# Current game plan for features to attempt

### MTeams and WTeams
- **TeamID:** this is the unique team ID (does not repeat in this csv)
  - 4 digit number
- **TeamName:** short spelling of the team's name. this can be good just for a reference (not for prediction)
  - 16 character name
- **FirstD1Season:** the year that they became D1. these start at 1985
  - 4 digit number (1985-2025)
- **LastD1Season:** the last year they were D1.
  - 4 digit number (1985-2025)

### MNCAATourneySeeds and WNCAATourneySeeds
- **Season:** year of the season
  - 4 digit number (1985-2024)
- **Seed:** seed of the team
  - last 2 characters are the seed
- **TeamID:** team id of the season and seed
  - 4 digit number

### MNCAATourneySlots and WNCAATourneySlots
- **Season:** year of season
  - 4 digit number (1985-2024)
- **Slot:** slot that gives information on the seed from the winning or favored team
  - for play-ins, it is a 3 character string where the last 2 numbers are the winning seed. for regular tournaments, it is a 4 character string where the second character tells you the round, and the last character (or 2) tells you the expected seed of the favored team
- **StrongSeed:** seed that's strong
  - last 2 characters are the seed
- **WeakSeed:** weaker seed
  - last 2 characters are the seed

### MRegularSeasonDetailedResults and WRegularSeasonDetailedResults
- **Season:** year of the season
  - 4 digit number (2023-2025)
- **DayNum**: higher the number, the better the team is because they lasted longer
  - number
- **WTeamID:** winning team id
  - 4 digit number
- **WScore:** winning score
  - number
- **LTeamID:** losting team id
  - 4 digit number
- **LScore:** losing score
  - number
- **WLoc:** location of winning team
  - character (H, A, or N)
- **NumOT:** number of overtime periods
  - number
- **WFGM:** field goals made by winning team
  - number

- **OOPS! There are way more columns that are good, I just didn't see them before. Use them all...**

### MNCAATourneyDetailedResults and WNCAATourneyDetailedResults
- same as (M/W)RegularSeasonDetailedResults

### MSecondaryTourneyTeams and WSecondaryTournamentTeams
- **Season:** year
  - 4 digit number (1985-2024)
- **SecondaryTourney:** abbreviation of tournament
  - 3 characters
- **TeamID:** team that played in it
  - 4 digit number

### MSecondaryTourneyCompactResults and WSecondaryTourneyCompactResults
- all of this is the same as (M/W)RegularSeasonDetailedResults except there is no WFGM and instead it has the SecondaryTourney column and no team box scores

### Cities
- **CityID:** unique city id
  - number
- **State:** state abbreviation
  - 2 characters

### MGameCities and WGameCities
- **Season:** year
  - 4 digit number (2010-2025)
- **DayNum**: higher is better
  - number
- **WTeamID:** winning team
  - 4 digit number
- **LTeamID:** losing team
  - 4 digit number
- **CRType:** says whether the game is regular, ncaa, or secondary
  - characters
- **CityID:** unique city id
  - 4 digit number

### Other features to possibly make
- Win/lose ratio (for each team)
- Score of left team - score of right team difference (for that game)
- Calculate ELO rating per team

### Target
- I think a good target would be to make it so if each row is for 2 competing teams, show a 1 if the left team won, and a 0 if they lost. Then, the ML model will predict this and show a probability for it.
- I saw someone did it where instead of it being a 1 if they actually won, they did it so that the smaller TeamID is 1 and the other is 0. Not sure which route to go.


- Actually, maybe just make it into 1 df.

### Dataframe Structure
- **ID:** of team mashup (YYYY_T1ID_T2ID) from SampleSubmissionStage1
- **Year:** YYYY taken from SampleSubmissionStage1

- **LTeam:** taken from SampleSubmissionStage1
- **LTeamName:** taken from TeamName from (M/W)Teams (just to see team name, not for training)

- **RTeam:** taken from SampleSubmissionStage1
- **RTeamName:** taken from TeamName from (M/W)Teams (just to see team name, not for training)

- **D1Diff:** taken from subtracting the left LastD1Season - FirstD1Season from the right from (M/W)Teams
- **SeedDiff:** taken from MNCAATourneySeeds from subtracting the left seed from the right
- **FavoredSeed:** taken from MNCAATourneySlots where it's 1 if the left team is the favored seed (if it's all 1 then remove this)

- **RegELODiff:** which uses the data from (M/W)RegularSeasonDetailedResults to calculate the difference in ELO
- **TourneyELODiff:** which uses the data from (M/W)NCAATourneyDetailedResults to calculate the difference in ELO

- **Pred:** where 1 is if the left team won the game or 0 if they didn't.

# WHAT?????????????
- Please review all of the code and figure out exactly how the feature selection works
- why are you clipping predictions
- why use a regressor instead of a classifier
- why are missing values filled with -1
- is the standard scaler scaling any categorical columns??
- why are we fitting on X and then predicting with X? is this not the same as fitting with training data and then predicting with training data?

In [232]:
# Libraries
import pandas as pd # I wanted to use fireducks instead, but it was giving me issues
import numpy as np

from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline
from sklearn.metrics import brier_score_loss, log_loss, mean_absolute_error
from sklearn.model_selection import cross_val_score

from xgboost import XGBRegressor

import glob
import os

In [233]:
# Getting all files
path = "./kaggle/input/march-machine-learning-mania-2025/**"
data = {p.split('/')[-1].split('.')[0].split('\\')[1] : pd.read_csv(p, encoding='latin-1') for p in glob.glob(path)}
# 
#data = {os.path.splitext(os.path.basename(p))[0]: pd.read_csv(p, encoding='latin-1') for p in glob.glob(path, recursive=True)} 
data

{'Cities':      CityID          City State
 0      4001       Abilene    TX
 1      4002         Akron    OH
 2      4003        Albany    NY
 3      4004   Albuquerque    NM
 4      4005     Allentown    PA
 ..      ...           ...   ...
 497    4520     Stateline    NV
 498    4521      Westwego    LA
 499    4522     Frankfort    KY
 500    4523      Rockford    IL
 501    4524  Collierville    TN

 [502 rows x 3 columns],
 'Conferences':     ConfAbbrev                                   Description
 0        a_sun                       Atlantic Sun Conference
 1        a_ten                        Atlantic 10 Conference
 2          aac                  American Athletic Conference
 3          acc                     Atlantic Coast Conference
 4          aec                       America East Conference
 5          asc                     American South Conference
 6          awc                      American West Conference
 7     big_east                           Big East Conference
 8    big_eight                          Big Eight Conference
 9      big_sky                            Big Sky Conference
 10   big_south                          Big South Conference
 11     big_ten                            Big Ten Conference
 12  big_twelve                             Big 12 Conference
 13    big_west                           Big West Conference
 14         caa                  Coastal Athletic Association
 15        cusa                                Conference USA
 16       ecacm  Eastern Collegiate Athletic Conference Metro
 17       ecacn  Eastern Collegiate Athletic Conference North
 18       ecacs  Eastern Collegiate Athletic Conference South
 19         ecc                         East Coast Conference
 20        gmwc                      Great Midwest Conference
 21         gsc                          Gulf Star Conference
 22         gwc                         Great West Conference
 23     horizon                                Horizon League
 24         ind                                   Independent
 25         ivy                                    Ivy League
 26        maac            Metro Atlantic Athletic Conference
 27         mac                       Mid-American Conference
 28        meac               Mid-Eastern Athletic Conference
 29       metro   Metropolitan Collegiate Athletic Conference
 30    mid_cont                      Mid-Continent Conference
 31         mvc                    Missouri Valley Conference
 32     mw_city                    Midwestern City Conference
 33     mw_coll              Midwestern Collegiate Conference
 34         mwc                      Mountain West Conference
 35         nac                     North Atlantic Conference
 36         nec                          Northeast Conference
 37         ovc                        Ohio Valley Conference
 38     pac_ten                         Pacific-10 Conference
 39  pac_twelve                         Pacific-12 Conference
 40     patriot                                Patriot League
 41        pcaa            Pacific Coast Athletic Association
 42         sec                       Southeastern Conference
 43    southern                           Southern Conference
 44   southland                          Southland Conference
 45      summit                                 Summit League
 46    sun_belt                           Sun Belt Conference
 47        swac                 Southwest Athletic Conference
 48         swc                          Southwest Conference
 49         wac                   Western Athletic Conference
 50         wcc                         West Coast Conference,
 'MConferenceTourneyGames':       Season ConfAbbrev  DayNum  WTeamID  LTeamID
 0       2001      a_sun     121     1194     1144
 1       2001      a_sun     121     1416     1240
 2       2001      a_sun     122     1209     1194
 3       2001      a_sun     122     1359     1239
 4       2001      a_sun     122     1391     1273
 ...      ...        ...     ...      ...      ...
 6486    2024        wcc     124     1365     1360
 6487    2024        wcc     125     1362     1339
 6488    2024        wcc     126     1211     1362
 6489    2024        wcc     126     1388     1365
 6490    2024        wcc     127     1388     1211

 [6491 rows x 5 columns],
 'MGameCities':        Season  DayNum  WTeamID  LTeamID   CRType  CityID
 0        2010       7     1143     1293  Regular    4027
 1        2010       7     1314     1198  Regular    4061
 2        2010       7     1326     1108  Regular    4080
 3        2010       7     1393     1107  Regular    4340
 4        2010       9     1143     1178  Regular    4027
 ...       ...     ...      ...      ...      ...     ...
 85529    2025     106     1461     1102  Regular    4186
 85530    2025     106     1462     1139  Regular    4072
 85531    2025     106     1466     1480  Regular    4444
 85532    2025     106     1468     1122  Regular    4203
 85533    2025     106     1474     1146  Regular    4066

 [85534 rows x 6 columns],
 'MMasseyOrdinals':          Season  RankingDayNum SystemName  TeamID  OrdinalRank
 0          2003             35        SEL    1102          159
 1          2003             35        SEL    1103          229
 2          2003             35        SEL    1104           12
 3          2003             35        SEL    1105          314
 4          2003             35        SEL    1106          260
 ...         ...            ...        ...     ...          ...
 5489112    2025            107        WOL    1476          282
 5489113    2025            107        WOL    1477          346
 5489114    2025            107        WOL    1478          325
 5489115    2025            107        WOL    1479          306
 5489116    2025            107        WOL    1480          342

 [5489117 rows x 5 columns],
 'MNCAATourneyCompactResults':       Season  DayNum  WTeamID  WScore  LTeamID  LScore WLoc  NumOT
 0       1985     136     1116      63     1234      54    N      0
 1       1985     136     1120      59     1345      58    N      0
 2       1985     136     1207      68     1250      43    N      0
 3       1985     136     1229      58     1425      55    N      0
 4       1985     136     1242      49     1325      38    N      0
 ...      ...     ...      ...     ...      ...     ...  ...    ...
 2513    2024     146     1301      76     1181      64    N      0
 2514    2024     146     1345      72     1397      66    N      0
 2515    2024     152     1163      86     1104      72    N      0
 2516    2024     152     1345      63     1301      50    N      0
 2517    2024     154     1163      75     1345      60    N      0

 [2518 rows x 8 columns],
 'MNCAATourneyDetailedResults':       Season  DayNum  WTeamID  WScore  LTeamID  LScore WLoc  NumOT  WFGM  \
 0       2003     134     1421      92     1411      84    N      1    32
 1       2003     136     1112      80     1436      51    N      0    31
 2       2003     136     1113      84     1272      71    N      0    31
 3       2003     136     1141      79     1166      73    N      0    29
 4       2003     136     1143      76     1301      74    N      1    27
 ...      ...     ...      ...     ...      ...     ...  ...    ...   ...
 1377    2024     146     1301      76     1181      64    N      0    28
 1378    2024     146     1345      72     1397      66    N      0    24
 1379    2024     152     1163      86     1104      72    N      0    31
 1380    2024     152     1345      63     1301      50    N      0    22
 1381    2024     154     1163      75     1345      60    N      0    30

       WFGA  ...  LFGA3  LFTM  LFTA  LOR  LDR  LAst  LTO  LStl  LBlk  LPF
 0       69  ...     31    14    31   17   28    16   15     5     0   22
 1       66  ...     16     7     7    8   26    12   17    10     3   15
 2       59  ...     28    14    21   20   22    11   12     2     5   18
 3       53  ...     17    12    17   14   17    20   21     6     6   21
 4       64  ...     21    15    20   10   26    16   14     5     8   19
 ...    ...  ...    ...   ...   ...  ...  ...   ...  ...   ...   ...  ...
 1377    60  ...     20    21    26   10   27    11    9     4     5   23
 1378    53  ...     26     7    11    6   17    17    6     8     4   25
 1379    62  ...     23     9    11    7   21     9    7     2     5   15
 1380    55  ...     19     3     4    6   22    10   11     8     3   13
 1381    62  ...      7    11    15    8   19     8    9     3     3   15

 [1382 rows x 34 columns],
 'MNCAATourneySeedRoundSlots':      Seed  GameRound GameSlot  EarlyDayNum  LateDayNum
 0     W01          1     R1W1          136         137
 1     W01          2     R2W1          138         139
 2     W01          3     R3W1          143         144
 3     W01          4     R4W1          145         146
 4     W01          5     R5WX          152         152
 ..    ...        ...      ...          ...         ...
 771  Z16b          2     R2Z1          138         139
 772  Z16b          3     R3Z1          143         144
 773  Z16b          4     R4Z1          145         146
 774  Z16b          5     R5YZ          152         152
 775  Z16b          6     R6CH          154         154

 [776 rows x 5 columns],
 'MNCAATourneySeeds':       Season Seed  TeamID
 0       1985  W01    1207
 1       1985  W02    1210
 2       1985  W03    1228
 3       1985  W04    1260
 4       1985  W05    1374
 ...      ...  ...     ...
 2553    2024  Z12    1241
 2554    2024  Z13    1436
 2555    2024  Z14    1324
 2556    2024  Z15    1443
 2557    2024  Z16    1255

 [2558 rows x 3 columns],
 'MNCAATourneySlots':       Season  Slot StrongSeed WeakSeed
 0       1985  R1W1        W01      W16
 1       1985  R1W2        W02      W15
 2       1985  R1W3        W03      W14
 3       1985  R1W4        W04      W13
 4       1985  R1W5        W05      W12
 ...      ...   ...        ...      ...
 2514    2024  R6CH       R5WX     R5YZ
 2515    2024   X16       X16a     X16b
 2516    2024   Y10       Y10a     Y10b
 2517    2024   Y16       Y16a     Y16b
 2518    2024   Z10       Z10a     Z10b

 [2519 rows x 4 columns],
 'MRegularSeasonCompactResults':         Season  DayNum  WTeamID  WScore  LTeamID  LScore WLoc  NumOT
 0         1985      20     1228      81     1328      64    N      0
 1         1985      25     1106      77     1354      70    H      0
 2         1985      25     1112      63     1223      56    H      0
 3         1985      25     1165      70     1432      54    H      0
 4         1985      25     1192      86     1447      74    H      0
 ...        ...     ...      ...     ...      ...     ...  ...    ...
 191791    2025     106     1461      69     1102      62    H      0
 191792    2025     106     1462      76     1139      63    H      0
 191793    2025     106     1466      80     1480      62    H      0
 191794    2025     106     1468      94     1122      68    H      0
 191795    2025     106     1474      89     1146      72    H      0

 [191796 rows x 8 columns],
 'MRegularSeasonDetailedResults':         Season  DayNum  WTeamID  WScore  LTeamID  LScore WLoc  NumOT  WFGM  \
 0         2003      10     1104      68     1328      62    N      0    27
 1         2003      10     1272      70     1393      63    N      0    26
 2         2003      11     1266      73     1437      61    N      0    24
 3         2003      11     1296      56     1457      50    N      0    18
 4         2003      11     1400      77     1208      71    N      0    30
 ...        ...     ...      ...     ...      ...     ...  ...    ...   ...
 117743    2025     106     1461      69     1102      62    H      0    25
 117744    2025     106     1462      76     1139      63    H      0    29
 117745    2025     106     1466      80     1480      62    H      0    28
 117746    2025     106     1468      94     1122      68    H      0    36
 117747    2025     106     1474      89     1146      72    H      0    28

         WFGA  ...  LFGA3  LFTM  LFTA  LOR  LDR  LAst  LTO  LStl  LBlk  LPF
 0         58  ...     10    16    22   10   22     8   18     9     2   20
 1         62  ...     24     9    20   20   25     7   12     8     6   16
 2         58  ...     26    14    23   31   22     9   12     2     5   23
 3         38  ...     22     8    15   17   20     9   19     4     3   23
 4         61  ...     16    17    27   21   15    12   10     7     1   14
 ...      ...  ...    ...   ...   ...  ...  ...   ...  ...   ...   ...  ...
 117743    54  ...     23     9    17    2   24    12    8     3     3   24
 117744    68  ...     23     9    14    4   31    12   20     5     2   12
 117745    55  ...     18     4     8    6   23    13   13     2     2   18
 117746    58  ...     32    17    22    7   22    12   10     2     5   17
 117747    52  ...     23    16    18    5   19     9   15     5     0   17

 [117748 rows x 34 columns],
 'MSeasons':     Season     DayZero      RegionW    RegionX         RegionY       RegionZ
 0     1985  10/29/1984         East       West         Midwest     Southeast
 1     1986  10/28/1985         East    Midwest       Southeast          West
 2     1987  10/27/1986         East  Southeast         Midwest          West
 3     1988  11/02/1987         East    Midwest       Southeast          West
 4     1989  10/31/1988         East       West         Midwest     Southeast
 5     1990  10/30/1989         East    Midwest       Southeast          West
 6     1991  10/29/1990         East  Southeast         Midwest          West
 7     1992  11/04/1991         East       West         Midwest     Southeast
 8     1993  11/02/1992         East    Midwest       Southeast          West
 9     1994  11/01/1993         East  Southeast         Midwest          West
 10    1995  10/31/1994         East       West         Midwest     Southeast
 11    1996  10/30/1995         East    Midwest       Southeast          West
 12    1997  10/28/1996         East  Southeast         Midwest          West
 13    1998  10/27/1997         East       West         Midwest         South
 14    1999  10/26/1998         East    Midwest           South          West
 15    2000  11/01/1999         East      South         Midwest          West
 16    2001  10/30/2000         East       West         Midwest         South
 17    2002  10/29/2001         East    Midwest           South          West
 18    2003  11/04/2002         East      South         Midwest          West
 19    2004  11/03/2003      Atlanta    Phoenix  EastRutherford       StLouis
 20    2005  11/01/2004  Albuquerque    Chicago          Austin      Syracuse
 21    2006  10/31/2005      Atlanta    Oakland     Minneapolis  WashingtonDC
 22    2007  10/30/2006         East      South         Midwest          West
 23    2008  11/05/2007         East    Midwest           South          West
 24    2009  11/03/2008         East      South         Midwest          West
 25    2010  11/02/2009         East      South         Midwest          West
 26    2011  11/01/2010         East       West       Southeast     Southwest
 27    2012  10/31/2011         East    Midwest           South          West
 28    2013  11/05/2012         East      South         Midwest          West
 29    2014  11/04/2013         East      South         Midwest          West
 30    2015  11/03/2014         East      South         Midwest          West
 31    2016  11/02/2015         East    Midwest           South          West
 32    2017  10/31/2016         East       West         Midwest         South
 33    2018  10/30/2017         East    Midwest           South          West
 34    2019  11/05/2018         East       West         Midwest         South
 35    2020  11/04/2019          NA1        NA2             NA3           NA4
 36    2021  11/02/2020         East       West         Midwest         South
 37    2022  11/01/2021         East       West         Midwest         South
 38    2023  10/31/2022         East      South         Midwest          West
 39    2024  11/06/2023         East       West         Midwest         South
 40    2025  11/04/2024         TBD1       TBD2            TBD3          TBD4,
 'MSecondaryTourneyCompactResults':       Season  DayNum  WTeamID  WScore  LTeamID  LScore WLoc  NumOT  \
 0       1985     136     1151      67     1155      65    H      0
 1       1985     136     1153      77     1245      61    H      0
 2       1985     136     1201      79     1365      76    H      0
 3       1985     136     1231      79     1139      57    H      0
 4       1985     136     1249      78     1222      71    H      0
 ...      ...     ...      ...     ...      ...     ...  ...    ...
 1804    2024     142     1371      91     1424      68    H      0
 1805    2024     142     1428      74     1433      54    H      0
 1806    2024     148     1232     100     1428      90    N      0
 1807    2024     148     1371      84     1208      67    N      0
 1808    2024     150     1371      79     1232      77    N      0

      SecondaryTourney
 0                 NIT
 1                 NIT
 2                 NIT
 3                 NIT
 4                 NIT
 ...               ...
 1804              NIT
 1805              NIT
 1806              NIT
 1807              NIT
 1808              NIT

 [1809 rows x 9 columns],
 'MSecondaryTourneyTeams':       Season SecondaryTourney  TeamID
 0       1985              NIT    1108
 1       1985              NIT    1133
 2       1985              NIT    1139
 3       1985              NIT    1145
 4       1985              NIT    1151
 ...      ...              ...     ...
 1831    2024              NIT    1433
 1832    2024              NIT    1437
 1833    2024              NIT    1439
 1834    2024              NIT    1448
 1835    2024              NIT    1462

 [1836 rows x 3 columns],
 'MTeamCoaches':        Season  TeamID  FirstDayNum  LastDayNum            CoachName
 0        1985    1102            0         154        reggie_minton
 1        1985    1103            0         154          bob_huggins
 2        1985    1104            0         154       wimp_sanderson
 3        1985    1106            0         154         james_oliver
 4        1985    1108            0         154        davey_whitney
 ...       ...     ...          ...         ...                  ...
 13528    2025    1476            0         106          chris_kraus
 13529    2025    1477            0         106  jaret_von_rosenberg
 13530    2025    1478            0         106        nate_champion
 13531    2025    1479            0         106         gary_manchel
 13532    2025    1480            0         106           dave_moore

 [13533 rows x 5 columns],
 'MTeamConferences':        Season  TeamID ConfAbbrev
 0        1985    1102        wac
 1        1985    1103        ovc
 2        1985    1104        sec
 3        1985    1106       swac
 4        1985    1108       swac
 ...       ...     ...        ...
 13383    2025    1476        nec
 13384    2025    1477  southland
 13385    2025    1478        nec
 13386    2025    1479        nec
 13387    2025    1480      a_sun

 [13388 rows x 3 columns],
 'MTeams':      TeamID        TeamName  FirstD1Season  LastD1Season
 0      1101     Abilene Chr           2014          2025
 1      1102       Air Force           1985          2025
 2      1103           Akron           1985          2025
 3      1104         Alabama           1985          2025
 4      1105     Alabama A&M           2000          2025
 ..      ...             ...            ...           ...
 375    1476       Stonehill           2023          2025
 376    1477  East Texas A&M           2023          2025
 377    1478        Le Moyne           2024          2025
 378    1479      Mercyhurst           2025          2025

In [234]:
# Loading data
"""
MTeams = data["MTeams"]
WTeams = data["WTeams"]

MNCAATourneySeeds = data["MNCAATourneySeeds"]
WNCAATourneySeeds = data["WNCAATourneySeeds"]

MNCAATourneySlots = data["MNCAATourneySlots"]
WNCAATourneySlots = data["WNCAATourneySlots"]

MRegularSeasonDetailedResults = data["MRegularSeasonDetailedResults"]
WRegularSeasonDetailedResults = data["WRegularSeasonDetailedResults"]

MNCAATourneyDetailedResults = data["MNCAATourneyDetailedResults"]
WNCAATourneyDetailedResults = data["WNCAATourneyDetailedResults"]

MSecondaryTourneyTeams = data["MSecondaryTourneyTeams"]
WSecondaryTourneyTeams = data["WSecondaryTourneyTeams"]

MSecondaryTourneyCompactResults = data["MSecondaryTourneyCompactResults"]
WSecondaryTourneyCompactResults = data["WSecondaryTourneyCompactResults"]

Cities = data["Cities"]

MGameCities = data["MGameCities"]
WGameCities = data["WGameCities"]
"""

# To be used for storing data, and later to take the IDs
df = data["SampleSubmissionStage2"]
df

                    ID  Pred
0       2025_1101_1102   0.5
1       2025_1101_1103   0.5
2       2025_1101_1104   0.5
3       2025_1101_1105   0.5
4       2025_1101_1106   0.5
...                ...   ...
131402  2025_3477_3479   0.5
131403  2025_3477_3480   0.5
131404  2025_3478_3479   0.5
131405  2025_3478_3480   0.5
131406  2025_3479_3480   0.5

[131407 rows x 2 columns]

# Feature Engineering

In [235]:
# Creating year, left team, and right team columns
"""
df['Year'] = [int(yr[0:4]) for yr in df['ID']]
df['LTeam'] = [int(L[5:9]) for L in df['ID']]
df['RTeam'] = [int(R[10:14]) for R in df['ID']]
"""
df['RTeam'] = [int(R[10:14]) for R in df['ID']]
df['LTeam'] = [int(L[5:9]) for L in df['ID']]

df['LTeam']
df['ID'] # id

0         2025_1101_1102
1         2025_1101_1103
2         2025_1101_1104
3         2025_1101_1105
4         2025_1101_1106
               ...
131402    2025_3477_3479
131403    2025_3477_3480
131404    2025_3478_3479
131405    2025_3478_3480
131406    2025_3479_3480
Name: ID, Length: 131407, dtype: object

In [236]:
# Lots of feature selecting and engineering
teams = pd.concat([data['MTeams'], data['WTeams']])
teams_spelling = pd.concat([data['MTeamSpellings'], data['WTeamSpellings']])
teams_spelling = teams_spelling.groupby(by='TeamID', as_index=False)['TeamNameSpelling'].count()
teams_spelling.columns = ['TeamID', 'TeamNameCount']
teams = pd.merge(teams, teams_spelling, how='left', on=['TeamID'])
del teams_spelling
teams.columns

Index(['TeamID', 'TeamName', 'FirstD1Season', 'LastD1Season', 'TeamNameCount'], dtype='object')

In [237]:
season_cresults = pd.concat([data['MRegularSeasonCompactResults'], data['WRegularSeasonCompactResults']])
season_dresults = pd.concat([data['MRegularSeasonDetailedResults'], data['WRegularSeasonDetailedResults']])
tourney_cresults = pd.concat([data['MNCAATourneyCompactResults'], data['WNCAATourneyCompactResults']])
tourney_dresults = pd.concat([data['MNCAATourneyDetailedResults'], data['WNCAATourneyDetailedResults']])
slots = pd.concat([data['MNCAATourneySlots'], data['WNCAATourneySlots']])
seeds = pd.concat([data['MNCAATourneySeeds'], data['WNCAATourneySeeds']])
gcities = pd.concat([data['MGameCities'], data['WGameCities']])
seasons = pd.concat([data['MSeasons'], data['WSeasons']])
#data['SampleSubmissionStage2']
tourney_cresults

      Season  DayNum  WTeamID  WScore  LTeamID  LScore WLoc  NumOT
0       1985     136     1116      63     1234      54    N      0
1       1985     136     1120      59     1345      58    N      0
2       1985     136     1207      68     1250      43    N      0
3       1985     136     1229      58     1425      55    N      0
4       1985     136     1242      49     1325      38    N      0
...      ...     ...      ...     ...      ...     ...  ...    ...
1645    2024     147     3163      80     3425      73    A      0
1646    2024     147     3234      94     3261      87    H      0
1647    2024     151     3234      71     3163      69    N      0
1648    2024     151     3376      78     3301      59    N      0
1649    2024     153     3376      87     3234      75    N      0

[4168 rows x 8 columns]

In [238]:
seeds = {'_'.join(map(str,[int(k1),k2])):int(v[1:3]) for k1, v, k2 in seeds[['Season', 'Seed', 'TeamID']].values}
cities = data['Cities']
sub = data['SampleSubmissionStage2']
del data
seeds.keys()
seeds['2007_1272'] #

2

In [239]:
season_cresults['ST'] = 'S'
season_dresults['ST'] = 'S'
tourney_cresults['ST'] = 'T'
tourney_dresults['ST'] = 'T'
games = pd.concat((season_dresults, tourney_dresults), axis=0, ignore_index=True)# 2003detailed resultscompact results
games.reset_index(drop=True, inplace=True)
games['WLoc'] = games['WLoc'].map({'A': 1, 'H': 2, 'N': 3})
# ST
# games
# WLocAHN123
games

,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,WFGM,WFGA,...,LFTM,LFTA,LOR,LDR,LAst,LTO,LStl,LBlk,LPF,ST
0,2003,10,1104,68,1328,62,3,0,27,58,...,16,22,10,22,8,18,9,2,20,S
1,2003,10,1272,70,1393,63,3,0,26,62,...,9,20,20,25,7,12,8,6,16,S
2,2003,11,1266,73,1437,61,3,0,24,58,...,14,23,31,22,9,12,2,5,23,S
3,2003,11,1296,56,1457,50,3,0,18,38,...,8,15,17,20,9,19,4,3,23,S
4,2003,11,1400,77,1208,71,3,0,30,61,...,17,27,21,15,12,10,7,1,14,S
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200645,2024,147,3163,80,3425,73,1,0,28,58,...,18,20,10,25,10,9,6,4,20,T
200646,2024,147,3234,94,3261,87,2,0,32,69,...,11,17,21,28,15,13,6,6,21,T
200647,2024,151,3234,71,3163,69,3,0,27,59,...,3,4,6,22,21,14,15,1,18,T
200648,2024,151,3376,78,3301,59,3,0,33,66,...,13,18,10,18,5,12,9,1,9,T
200649,2024,153,3376,87,3234,75,3,0,35,73,...,16,20,5,20,13,9,6,4,14,T

In [240]:
games['ID'] = games.apply(lambda r: '_'.join(map(str, [r['Season']]+sorted([r['WTeamID'],r['LTeamID']]))), axis=1)# id12
games['IDTeams'] = games.apply(lambda r: '_'.join(map(str, sorted([r['WTeamID'],r['LTeamID']]))), axis=1)# 12
games['Team1'] = games.apply(lambda r: sorted([r['WTeamID'],r['LTeamID']])[0], axis=1)# 1
games['Team2'] = games.apply(lambda r: sorted([r['WTeamID'],r['LTeamID']])[1], axis=1)
games['IDTeam1'] = games.apply(lambda r: '_'.join(map(str, [r['Season'], r['Team1']])), axis=1)#  1
games['IDTeam2'] = games.apply(lambda r: '_'.join(map(str, [r['Season'], r['Team2']])), axis=1)

games['Team1Seed'] = games['IDTeam1'].map(seeds).fillna(0)
games['Team2Seed'] = games['IDTeam2'].map(seeds).fillna(0)

games['ScoreDiff'] = games['WScore'] - games['LScore']
games['Pred'] = games.apply(lambda r: 1. if sorted([r['WTeamID'],r['LTeamID']])[0]==r['WTeamID'] else 0., axis=1) # 1
games['ScoreDiffNorm'] = games.apply(lambda r: r['ScoreDiff'] * -1 if r['Pred'] == 0. else r['ScoreDiff'], axis=1)
games['SeedDiff'] = games['Team1Seed'] - games['Team2Seed']
games = games.fillna(-1)

In [241]:
c_score_col = ['NumOT', 'WFGM', 'WFGA', 'WFGM3', 'WFGA3', 'WFTM', 'WFTA', 'WOR', 'WDR', 'WAst', 'WTO', 'WStl',
 'WBlk', 'WPF', 'LFGM', 'LFGA', 'LFGM3', 'LFGA3', 'LFTM', 'LFTA', 'LOR', 'LDR', 'LAst', 'LTO', 'LStl',
 'LBlk', 'LPF'] # 
c_score_agg = ['sum', 'mean', 'median', 'max', 'min', 'std', 'skew', 'nunique']
gb = games.groupby(by=['IDTeams']).agg({k: c_score_agg for k in c_score_col}).reset_index()
# groupby 
# agg  c_score_col 
#  MultiIndex DataFrame reset_index()  DataFrame
gb.columns = [''.join(c) + '_c_score' for c in gb.columns]

games = games[games['ST']=='T']
gb.head()

,IDTeams_c_score,NumOTsum_c_score,NumOTmean_c_score,NumOTmedian_c_score,NumOTmax_c_score,NumOTmin_c_score,NumOTstd_c_score,NumOTskew_c_score,NumOTnunique_c_score,WFGMsum_c_score,...,LBlkskew_c_score,LBlknunique_c_score,LPFsum_c_score,LPFmean_c_score,LPFmedian_c_score,LPFmax_c_score,LPFmin_c_score,LPFstd_c_score,LPFskew_c_score,LPFnunique_c_score
0,1101_1102,0,0.0,0.0,0,0,NaN,NaN,1,23,...,NaN,1,14,14.0,14.0,14,14,NaN,NaN,1
1,1101_1115,0,0.0,0.0,0,0,NaN,NaN,1,24,...,NaN,1,19,19.0,19.0,19,19,NaN,NaN,1
2,1101_1116,0,0.0,0.0,0,0,0.0,NaN,1,53,...,NaN,2,40,20.0,20.0,21,19,1.414214,NaN,2
3,1101_1117,0,0.0,0.0,0,0,0.0,NaN,1,59,...,NaN,1,48,24.0,24.0,24,24,0.000000,NaN,1
4,1101_1122,0,0.0,0.0,0,0,NaN,NaN,1,29,...,NaN,1,23,23.0,23.0,23,23,NaN,NaN,1

In [242]:
sub['WLoc'] = 3
sub['Season'] = sub['ID'].map(lambda x: x.split('_')[0])
sub['Season'] = sub['ID'].map(lambda x: x.split('_')[0])
sub['Season'] = sub['Season'].astype(int)
sub['Team1'] = sub['ID'].map(lambda x: x.split('_')[1])
sub['Team2'] = sub['ID'].map(lambda x: x.split('_')[2])
sub['IDTeams'] = sub.apply(lambda r: '_'.join(map(str, [r['Team1'], r['Team2']])), axis=1)
sub['IDTeam1'] = sub.apply(lambda r: '_'.join(map(str, [r['Season'], r['Team1']])), axis=1)
sub['IDTeam2'] = sub.apply(lambda r: '_'.join(map(str, [r['Season'], r['Team2']])), axis=1)
sub['Team1Seed'] = sub['IDTeam1'].map(seeds).fillna(0)
sub['Team2Seed'] = sub['IDTeam2'].map(seeds).fillna(0)
sub['SeedDiff'] = sub['Team1Seed'] - sub['Team2Seed'] # 
sub = sub.fillna(-1)

games = pd.merge(games, gb, how='left', left_on='IDTeams', right_on='IDTeams_c_score')
sub = pd.merge(sub, gb, how='left', left_on='IDTeams', right_on='IDTeams_c_score')
# gamesgbIDTeams
# subgbIDTeams

col = [c for c in games.columns if c not in ['ID', 'DayNum', 'ST', 'Team1', 'Team2', 'IDTeams', 'IDTeam1', 'IDTeam2',
                                             'WTeamID', 'WScore', 'LTeamID', 'LScore', 'NumOT', 'Pred', 'ScoreDiff', 'ScoreDiffNorm',
                                             'WLoc'] + c_score_col]

In [243]:
games.head()
# #games.columns
# games['ID']
# games['IDTeams']
# games['Team1']

# games['IDTeam1']

,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,WFGM,WFGA,...,LBlkskew_c_score,LBlknunique_c_score,LPFsum_c_score,LPFmean_c_score,LPFmedian_c_score,LPFmax_c_score,LPFmin_c_score,LPFstd_c_score,LPFskew_c_score,LPFnunique_c_score
0,2003,134,1421,92,1411,84,3,1,32,69,...,NaN,1,22,22.0,22.0,22,22,NaN,NaN,1
1,2003,136,1112,80,1436,51,3,0,31,66,...,NaN,1,15,15.0,15.0,15,15,NaN,NaN,1
2,2003,136,1113,84,1272,71,3,0,31,59,...,NaN,1,18,18.0,18.0,18,18,NaN,NaN,1
3,2003,136,1141,79,1166,73,3,0,29,53,...,NaN,2,35,17.5,17.5,21,14,4.949747,NaN,2
4,2003,136,1143,76,1301,74,3,1,27,64,...,-0.422521,4,66,16.5,17.0,19,13,2.645751,-0.863919,4

In [244]:
sub.columns

Index(['ID', 'Pred', 'RTeam', 'LTeam', 'WLoc', 'Season', 'Team1', 'Team2',
       'IDTeams', 'IDTeam1',
       ...
       'LBlkskew_c_score', 'LBlknunique_c_score', 'LPFsum_c_score',
       'LPFmean_c_score', 'LPFmedian_c_score', 'LPFmax_c_score',
       'LPFmin_c_score', 'LPFstd_c_score', 'LPFskew_c_score',
       'LPFnunique_c_score'],
      dtype='object', length=231)

# Model

In [245]:
# Selecting training data
X = games[col].fillna(-1)
sub_X = sub[col].fillna(-1)

In [246]:
X

,Season,Team1Seed,Team2Seed,SeedDiff,IDTeams_c_score,NumOTsum_c_score,NumOTmean_c_score,NumOTmedian_c_score,NumOTmax_c_score,NumOTmin_c_score,...,LBlkskew_c_score,LBlknunique_c_score,LPFsum_c_score,LPFmean_c_score,LPFmedian_c_score,LPFmax_c_score,LPFmin_c_score,LPFstd_c_score,LPFskew_c_score,LPFnunique_c_score
0,2003,16.0,16.0,0.0,1411_1421,1,1.00,1.0,1,1,...,-1.000000,1,22,22.000000,22.0,22,22,-1.000000,-1.000000,1
1,2003,1.0,16.0,-15.0,1112_1436,0,0.00,0.0,0,0,...,-1.000000,1,15,15.000000,15.0,15,15,-1.000000,-1.000000,1
2,2003,10.0,7.0,3.0,1113_1272,0,0.00,0.0,0,0,...,-1.000000,1,18,18.000000,18.0,18,18,-1.000000,-1.000000,1
3,2003,11.0,6.0,5.0,1141_1166,0,0.00,0.0,0,0,...,-1.000000,2,35,17.500000,17.5,21,14,4.949747,-1.000000,2
4,2003,8.0,9.0,-1.0,1143_1301,1,0.25,0.0,1,0,...,-0.422521,4,66,16.500000,17.0,19,13,2.645751,-0.863919,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2271,2024,3.0,1.0,2.0,3163_3425,0,0.00,0.0,0,0,...,-1.000000,2,32,16.000000,16.0,20,12,5.656854,-1.000000,2
2272,2024,1.0,3.0,-2.0,3234_3261,0,0.00,0.0,0,0,...,-1.000000,2,40,20.000000,20.0,21,19,1.414214,-1.000000,2
2273,2024,3.0,1.0,2.0,3163_3234,0,0.00,0.0,0,0,...,1.732051,2,35,11.666667,10.0,18,7,5.686241,1.205659,3
2274,2024,3.0,1.0,2.0,3301_3376,0,0.00,0.0,0,0,...,0.190198,7,104,14.857143,15.0,22,8,5.014265,-0.159771,6
2275,2024,1.0,1.0,0.0,3234_3376,0,0.00,0.0,0,0,...,-1.000000,2,34,17.000000,17.0,20,14,4.242641,-1.000000,2

In [247]:
# GridSearchCV

# Do some grid search here for the parameters
# After doing the grid search, save the best parameters and create the param_grid in this cell

In [248]:
# XGB parameters
param_grid = {
    'n_estimators': 5000,
    'learning_rate': 0.03,
    'max_depth': 6
}

# Pipeline
pipeline = Pipeline([
    ('imputer', SimpleImputer(strategy='mean')),
    ('scaler', StandardScaler()),
    ('xgb', XGBRegressor(**param_grid, device="gpu", random_state=42))
])

# Fitting pipeline
pipeline.fit(X, games['Pred'])

# Predicting games and submissions
pred = pipeline.predict(X).clip(0.001, 0.999)
sub_pred = pipeline.predict(sub_X).clip(0.001, 0.999)

# Cross validation (for the MSE)
cv_scores = cross_val_score(pipeline, X, games['Pred'], cv=5, scoring="neg_mean_squared_error")

# Cross val

In [258]:
from sklearn.model_selection import train_test_split, KFold

# 
X_train, X_val, y_train, y_val = train_test_split(X, games['Pred'], test_size=0.2, random_state=42)
#X_train
print(len(X_train),len(X_val), len(y_train), len(y_val), len(X), len(games['Pred']))

1820 456 1820 456 2276 2276

In [259]:
#  XGB 
param_grid = {
    'n_estimators': 5000,
    'learning_rate': 0.03,
    'max_depth': 6
}

#  Pipeline
pipeline2 = Pipeline([
    ('imputer', SimpleImputer(strategy='mean')),
    ('scaler', StandardScaler()),
    ('xgb', XGBRegressor(**param_grid, device="gpu", random_state=42))
])

pipeline2.fit(X_train, y_train)

pred2 = pipeline2.predict(X_val).clip(0.001, 0.999)
cv_scores2 = cross_val_score(pipeline2, X_val, y_val, cv=5, scoring="neg_mean_squared_error")

In [265]:
print(len(X_val), len(pred2))
cv_scores2 = cross_val_score(pipeline2, X, games['Pred'], cv=5, scoring="neg_mean_squared_error")

456 456

In [267]:
# #  KFold 
# kf = KFold(n_splits=5, shuffle=True, random_state=42)

# # 
# cv_scores = cross_val_score(pipeline, X_val, y_val, cv=kf, scoring='neg_mean_squared_error')

# 
# print(f" (MSE): {cv_scores}")
# print(f": {-cv_scores.mean()}")

# # 
# full_cv_scores = cross_val_score(pipeline, X, games['Pred'], cv=5, scoring='neg_mean_squared_error')
# print(f" (MSE): {full_cv_scores}")
# print(f": {-full_cv_scores.mean()}")

# Results
print(f'Log Loss: {log_loss(games["Pred"], pred):.5f}')
print(f'Mean Absolute Error: {mean_absolute_error(games["Pred"], pred):.5f}')
print(f'Brier Score: {brier_score_loss(games["Pred"], pred):.5f}')
print(f'Cross-validated MSE: {-cv_scores.mean():.5f}')
# Results
print(f'Log Loss: {log_loss(y_val, pred2):.5f}')
print(f'Mean Absolute Error: {mean_absolute_error(y_val, pred2):.5f}')
print(f'Brier Score: {brier_score_loss(y_val, pred2):.5f}')
print(f'Cross-validated MSE: {-cv_scores2.mean():.5f}')

Log Loss: 0.00163
Mean Absolute Error: 0.00163
Brier Score: 0.00001
Cross-validated MSE: 0.20514
Log Loss: 0.72878
Mean Absolute Error: 0.37782
Brier Score: 0.21727
Cross-validated MSE: 0.20514

In [263]:
print(len(games['Pred']))
print(len(pred))
print(len(y_val))
print(len(pred2))
type(X_train)

2276
2276
456
456

pandas.core.frame.DataFrame

# Results

In [187]:
# Results
print(f'Log Loss: {log_loss(games["Pred"], pred):.5f}')
print(f'Mean Absolute Error: {mean_absolute_error(games["Pred"], pred):.5f}')
print(f'Brier Score: {brier_score_loss(games["Pred"], pred):.5f}')
print(f'Cross-validated MSE: {-cv_scores.mean():.5f}')

Log Loss: 0.13169
Mean Absolute Error: 0.07534
Brier Score: 0.04177
Cross-validated MSE: 0.20040

# Submission

In [191]:
# Creating submission dataframe

sub_pred = pipeline.predict(sub_X).clip(0.001, 0.999)

submission_df = pd.DataFrame({
    'ID': df['ID'],
    'Pred': sub_pred
})

# Shape and head/tail of submission
print(f"{submission_df.shape} \n")
print(f"{submission_df.head().to_string(index=False)} \n")
print(submission_df.tail().to_string(index=False))

# Saving to csv
submission_df.to_csv('submission.csv', index=False)
print("\nSubmission file saved! Good luck!!! :)")

(131407, 2)

            ID     Pred
2025_1101_1102 0.496842
2025_1101_1103 0.472241
2025_1101_1104 0.472241
2025_1101_1105 0.472241
2025_1101_1106 0.472241

            ID     Pred
2025_3477_3479 0.472241
2025_3477_3480 0.472241
2025_3478_3479 0.591060
2025_3478_3480 0.472241
2025_3479_3480 0.472241

Submission file saved! Good luck!!! :)

# What I Learned

Write some things that you learned, struggled with, etc later.